In [2]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

In [15]:
s1 = Series(range(5), index=['0', '1', '2', '2', '4'])

In [16]:
print(type(s1['1']))

<class 'numpy.int64'>

In [20]:
s1['0':'1']

0    0
1    1
dtype: int64

In [21]:
df1 = DataFrame(np.arange(16).reshape((4, 4)), index=['Ohio', 'Colorado', 'Utah', 'New York'],
               columns=['one', 'two', 'three', 'four'])

In [22]:
df1

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

In [33]:
df2 = df1[1:3]

In [36]:
df2

          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11

In [37]:
df2[0]

KeyError: 0