In [1]:
import numpy as np
from pandas import Series, DataFrame
import pandas as pd

In [ ]:
%time sum(x for x in range(1000000))

In [ ]:
%timeit sum([x for x in range(100000)])

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df

In [ ]:
df.loc[df.AAA >= 5,'BBB'] = -1; df

In [ ]:
df.loc[df.AAA >= 5,['BBB','CCC']] = 555; df

In [ ]:
df.loc[df.AAA < 5,['BBB','CCC']] = 2000; df

In [ ]:
df_mask = pd.DataFrame({'AAA' : [True] * 4, 'BBB' : [False] * 4,'CCC' : [True,False] * 2}); df_mask

In [ ]:
df.where(df_mask,-1000)

In [ ]:
df = pd.DataFrame( {'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
print(df)
df['logic'] = np.where(df['AAA'] > 5,'high','low')
df

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
print(df)
#(df.AAA <= 5) | (df.AAA == 6)
df[(df.AAA <= 5) | (df.AAA == 6)]

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
print(df)
aValue = 43.0
df.loc[(df.CCC-aValue).abs().argsort()]

In [ ]:
df = pd.DataFrame({'AAA' : [4,5,6,7], 'BBB' : [10,20,30,40],'CCC' : [100,50,-30,-50]})
df[df.index < 2]

In [ ]:
Crit1 = df.AAA <= 5.5
Crit2 = df.BBB == 10.0
Crit3 = df.CCC > -40.0
AllCrit = Crit1 & Crit2 & Crit3
df[AllCrit]

New Columns

In [ ]:
df = pd.DataFrame({'AAA' : [1,2,1,3], 'BBB' : [1,1,2,2], 'CCC' : [2,1,3,1]})
df

In [ ]:
source_cols = df.columns # or some subset would work too.
print(source_cols)
print(type(source_cols))
new_cols = [str(x) + "_cat" for x in source_cols]
print(new_cols)
print(type(new_cols))
categories = {1 : 'Alpha', 2 : 'Beta', 3 : 'Charlie' }
df[new_cols] = df[source_cols].applymap(categories.get)
df

In [ ]:
df = pd.DataFrame({'AAA' : [1,1,1,2,2,2,3,3], 'BBB' : [2,1,3,4,5,1,2,3]})
df

In [ ]:
print(df.idxmin())
print(type(df.idxmin()))
print('--- ---')
print(df.groupby("AAA"))
print(type(df.groupby("AAA")))
print('--- ---')
print(df.groupby("AAA")["BBB"])
print(type(df.groupby("AAA")["BBB"]))
print('--- ---')
df.groupby("AAA")["BBB"].idxmin()

In [ ]:
df.sort_values(by="BBB").groupby("AAA", as_index=False).first()

MultiIndexing

In [ ]:
df = pd.DataFrame({'row' : [0,1,2],'One_X' : [1.1,1.1,1.1],'One_Y' : [1.2,1.2,1.2],'Two_X' : [1.11,1.11,1.11],'Two_Y' : [1.22,1.22,1.22]})
print(df, '\n--- ---')
df = df.set_index('row')
print(df, '\n--- ---')
df.columns = pd.MultiIndex.from_tuples([tuple(c.split('_')) for c in df.columns])
print(df, '\n--- ---')
# Now stack & Reset
df = df.stack(0).reset_index(1)
print(df, '\n--- ---')
df.columns

Arithmetic

In [2]:
cols = pd.MultiIndex.from_tuples([ (x,y) for x in ['A','B','C'] for y in ['O','I']])
df = pd.DataFrame(np.random.randn(2,6),index=['n','m'],columns=cols)
df
df['C']

          O         I
n -0.400603  1.365421
m -0.083372  0.128657

In [3]:
df2 = df.div(df['C'],level=1)
df2

          A                   B              C
          O         I         O         I    O    I
n -1.476558  0.133813 -0.301780  0.959741  1.0  1.0
m  8.072151  0.261435 -5.938942  8.429068  1.0  1.0

Slicing MultiIndex with xs

In [4]:
coords = [('AA','one'),('AA','six'),('BB','one'),('BB','two'),('BB','six')]
index = pd.MultiIndex.from_tuples(coords)
df = pd.DataFrame([11,22,33,44,55],index,['MyData'])
df

        MyData
AA one      11
   six      22
BB one      33
   two      44
   six      55

In [5]:
df2 = df.xs('BB',level=0,axis=0)  #Note : level and axis are optional, and default to zero
print(df2)
df3 = df.xs('six',level=1,axis=0)
print(df3)

     MyData
one      33
two      44
six      55
    MyData
AA      22
BB      55

Slicing MultiIndex with xs (method 2)