In [1]:
from numpy.random import randn
import numpy as np
import os
import matplotlib.pyplot as plt
plt.rc('figure', figsize=(10, 6))
from pandas import Series, DataFrame
from datetime import datetime
import pandas as pd
np.set_printoptions(precision=4, threshold=500)
pd.options.display.max_rows = 100

In [2]:
%matplotlib inline

Index, DatetimeIndex

In [3]:
dates = [pd.Timestamp('2012-05-01'), pd.Timestamp('2012-05-02'), pd.Timestamp('2012-05-03')]
ts = Series([2, 6, 42], dates)
print(ts.index)
print(ts)
print(ts.iloc[1])
print(ts.loc['2012-05-02'])

from datetime import datetime
d1 = datetime(2012, 5, 2)
print(d1)

print(ts.loc[d1])

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)
2012-05-01     2
2012-05-02     6
2012-05-03    42
dtype: int64
6
6
2012-05-02 00:00:00
6

In [35]:
df = DataFrame([[2, 3],[6, 7],[42, 77]], index=dates, columns=['Open', 'Close'])
print(df.index)
print(df)

DatetimeIndex(['2012-05-01', '2012-05-02', '2012-05-03'], dtype='datetime64[ns]', freq=None)
            Open  Close
2012-05-01     2      3
2012-05-02     6      7
2012-05-03    42     77

In [48]:
df.loc['2012-05-02', 'Close'] = 1
df

            Open  Close
2012-05-01     2      3
2012-05-02     6      1
2012-05-03    42     77

In [55]:
key = df.iloc[1].name
pd.Timestamp('2012-05-01') in df.index

True

In [21]:
dt = datetime(2012, 5, 2)
df.loc[dt]

Open     6
Close    2
Name: 2012-05-02 00:00:00, dtype: int64

In [22]:
df2 = df.loc[dt:].copy()
df2.loc[dt, 'Close'] = 42
print(df2)
print(df)

            Open  Close
2012-05-02     6     42
2012-05-03    42      3
            Open  Close
2012-05-01     2      1
2012-05-02     6      2
2012-05-03    42      3