In [1]:
import sys
import logging as log
log.basicConfig(format='%(asctime)s %(levelname)s: %(message)s', level=log.INFO)

sys.path.insert(0,'/Users/vadim/pythonProjects/trading')

import datareader as dr

In [2]:
df1 = dr.readfile(dir='/Users/vadim/pythonProjects/trading/data', symbol='UNH')

2017-07-09 14:48:56,516 WARNING: 2001-12-11 volumes (y: 12632800.0) (g: 4068400.0) diff over 50.0%
2017-07-09 14:48:56,952 WARNING: 2004-07-30 open prices (y: 31.719999) (g: 29.96) diff over 5.0%
2017-07-09 14:48:57,018 WARNING: 2004-12-10 open prices (y: 42.275002) (g: 45.51) diff over 5.0%
2017-07-09 14:48:59,063 WARNING: Total number of matching errors: 3

In [3]:
df1.index

DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
               '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11',
               '1990-01-12', '1990-01-15',
               ...
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-26', '2017-06-27', '2017-06-28', '2017-06-29',
               '2017-06-30', '2017-07-03'],
              dtype='datetime64[ns]', name='Date', length=6931, freq=None)

In [4]:
# UNH Stock split 2/1 happened between May 27 and May 31, 2005
df1['2005-05-26':'2005-06-01']

                 Open       High        Low      Close   Volume
Date
2005-05-26  48.500000  48.730000  48.384998  48.570000  3173400
2005-05-27  48.630001  49.000000  48.419998  48.884999  3509200
2005-05-31  49.150002  49.400002  48.500000  48.580002  4026300
2005-06-01  48.700001  49.549999  48.509998  49.230000  4609700