In [7]:
import sys
sys.path.insert(0,'/Users/vadim/pythonProjects/trading')

import datareader as dr

In [8]:
df1 = dr.readfile(dir='/Users/vadim/pythonProjects/trading/data', symbol='UNH', vendor='Yahoo')

2017-07-09 01:27:52,604 DEBUG: Loading Yahoo file: /Users/vadim/pythonProjects/trading/data/UNH_yahoo.csv

In [9]:
df2 = dr.readfile(dir='/Users/vadim/pythonProjects/trading/data', symbol='UNH', vendor='Google')

2017-07-09 01:27:53,406 DEBUG: Loading Google file: /Users/vadim/pythonProjects/trading/data/UNH_google.csv

In [10]:
df1.index

DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
               '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11',
               '1990-01-12', '1990-01-15',
               ...
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-26', '2017-06-27', '2017-06-28', '2017-06-29',
               '2017-06-30', '2017-07-03'],
              dtype='datetime64[ns]', name='Date', length=6931, freq=None)

In [11]:
df2.index

DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
               '1990-01-08', '1990-01-09', '1990-01-10', '1990-01-11',
               '1990-01-12', '1990-01-15',
               ...
               '2017-06-20', '2017-06-21', '2017-06-22', '2017-06-23',
               '2017-06-26', '2017-06-27', '2017-06-28', '2017-06-29',
               '2017-06-30', '2017-07-03'],
              dtype='datetime64[ns]', name='Date', length=6931, freq=None)

In [12]:
#df3 = df2['1999-Dec-20' : '2000-Jan-10']
#print(df3)
#df3 == 0
#print(df2.iloc[3].name)
#df2[df2.iloc[3].name, 'Close'] = 45
#print(df3.iloc[0]['Close'])
#df2.loc['2005-May-27']

dr.fix_yahoo_close_price_splits(df1)
df1['2005-05-26':'2005-06-01']

2017-07-09 01:27:56,914 DEBUG: 2005-05-27 00:00:00 : split = 2.0
2017-07-09 01:27:57,026 DEBUG: 2003-06-18 00:00:00 : split = 2.0
2017-07-09 01:27:57,169 DEBUG: 2000-12-22 00:00:00 : split = 2.0
2017-07-09 01:27:57,539 DEBUG: 1994-03-10 00:00:00 : split = 2.0
2017-07-09 01:27:57,626 DEBUG: 1992-09-15 00:00:00 : split = 2.0

                 Open       High        Low      Close  Adj Close   Volume
Date
2005-05-26  48.500000  48.730000  48.384998  48.570000  43.225616  3173400
2005-05-27  48.630001  49.000000  48.419998  48.884999  43.505959  3509200
2005-05-31  49.150002  49.400002  48.500000  48.580002  43.234524  4026300
2005-06-01  48.700001  49.549999  48.509998  49.230000  43.812996  4609700

In [13]:
print(df1['2005-05-26':'2005-06-01'])
print(df2['2005-05-26':'2005-06-01'])

                 Open       High        Low      Close  Adj Close   Volume
Date
2005-05-26  48.500000  48.730000  48.384998  48.570000  43.225616  3173400
2005-05-27  48.630001  49.000000  48.419998  48.884999  43.505959  3509200
2005-05-31  49.150002  49.400002  48.500000  48.580002  43.234524  4026300
2005-06-01  48.700001  49.549999  48.509998  49.230000  43.812996  4609700
             Open   High    Low  Close   Volume
Date
2005-05-26  48.50  48.73  48.38  48.57  3174000
2005-05-27  48.63  49.00  48.42  48.88  3509600
2005-05-31  49.15  49.40  48.50  48.58  4027200
2005-06-01  48.70  49.55  48.51  49.23  5605000

In [15]:
print(df1.index.is_unique)
print(df2.index.is_unique)
print(df1.index.is_monotonic_increasing)
print(df2.index.is_monotonic_decreasing)
print('df1 index duplicates : %s' % df1.index.has_duplicates)
print('df2 index duplicates : %s' % df2.index.has_duplicates)
a1 = df1.index.isnull()
print(a1.any())

from datetime import datetime
d1 = datetime(2012, 5, 2)
print(d1)

df2.index[0]

True
True
True
False
df1 index duplicates : False
df2 index duplicates : False
False
2012-05-02 00:00:00

Timestamp('1990-01-02 00:00:00')

In [17]:
df2.index.difference(df1.index)
print(type(df2))
print(type(df2.index))
print(type(df2['Open']))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.indexes.datetimes.DatetimeIndex'>
<class 'pandas.core.series.Series'>